{{#partial "content"}}
    <h1 class="text-center display-6 text-danger">{{hero.name}}</h1>

            <div class="card border border-danger" >
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-primary">Age: {{hero.age}}</li>
                        <li class="list-group-item text-primary">Superpower: {{hero.power}}</li>
                        <li class="list-group-item text-primary">Weakness: {{hero.weakness}}</li>
                        <li class="list-group-item text-primary">Squad: {{squad.name}}</li>
                    </ul>

                </div>


                <div class="card-body">
                    <a href="/heroes/{{hero.id}}/delete" class="card-link"><button class="btn btn-danger">Delete</button></a>
                    <a href="/hero/{{hero.id}}/update" class="card-link"><button class="btn btn-danger">Update</button></a>
                </div>
            </div>



{{/partial}}
{{> layout.hbs}}